.item-carrinho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info-item-carrinho,
.botoes-item-carrinho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-right: 10px;
}

.nome-item-carrinho,
.preco-item-carrinho{
    font-size: 1.2rem;
    font-weight: bold;
}

.descricao-item-carrinho{
    font-size: 1rem;
    font-weight: normal;
}

.quantidade-item-carrinho{
    font-size: 1.2rem;
    font-weight: bold;
    margin:10px;
}

.contador-item-carrinho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.botao-item-carrinho{
    width: 2em;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}